@font-face {
  font-family: Poppins;
  src: url("./assets/Poppins-Medium.ttf");
}
* {
  font-family: Poppins;
}
#login-front {
  width: 70vh;
  height: 95vh;
  padding: 5% 0%;
  background-color: white;
  border-radius: 2%;
  text-align: center;
}
#lock-front {
  width: 70vh;
  height: 65vh;
  padding: 15% 10%;
  background-color: white;
  border-radius: 3%;
  text-align: center;
}
#login-bg {
  padding: 10vh 35%;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 104, 40, 0.7), rgba(0, 31, 99, 0.7)),
    url("./assets/FoodBg.jpg");
  background-size: cover;
}

.class-select {
  width: 93%;
}

.logo {
  width: 50%;
}

.hidden {
  display: none;
}

.shadow {
  -webkit-box-shadow: 8px 3px 15px 0px rgba(0, 0, 0, 0.64);
  box-shadow: 8px 3px 15px 0px rgba(0, 0, 0, 0.64);
}

.bt1 {
  background-color: darkblue;
  border-radius: 0%;
  padding: 2% 5%;
}
.gap {
  padding: 2vh;
}
