#login-front {
  width: 70vh;
  height: 75vh;
  background-color: white;
  border-radius: 3%;
  text-align: center;
}
#lock-front {
  width: 70vh;
  height: 75vh;
  padding: 20% 10%;
  background-color: white;
  border-radius: 3%;
  text-align: center;
}
#login-bg {
  padding: 5% 32%;
  height: 100vh;
  justify-content: center;
  background-color: lightblue;
}

.logo {
  width: 50%;
}

.left {
  display: inline;
}
.price {
  display: inline;
  float: right;
}

.class-select {
  width: 50%;
}
